<!DOCTYPE html>
<html>
<head>

  <!-- Meta Data -->
    <meta charset="utf-8">

    <!-- Meta data for SEO purposes. -->
    <title>Ms. Gloria's Kitchen</title>
    <meta name="description" content="{{page.meta-description}}">
    <meta name="keywords" content="{{page.meta-keywords}}">

    <!-- meta data to tell the browser that your devide is responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    <!--  Social media sharing META Tags -->
    <meta property="og:title" content="{{page.title}}">
    <meta property="og:description" content="{{page.meta-description}}">
    <meta property="og:image" content="{{page.featured-image_path}}">
    <meta property="og:url" content="{{page.url}}">
    <meta name="twitter:card" content="{{page.meta-description}}">
    <meta name="og:site_name" content="<!-- ADD SITE NAME HERE -->">

  <!-- end of meta tags -->

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+HK:300,400,500,700,900&display=swap" rel="stylesheet"></link>

    <!-- Gridlex -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css"></link>

    <!-- Font Awesome Version 5 for Icons  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />

    <!-- Magnific Popup for lightbox galleries   -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css" />

    <!-- our own custom stylesheet -->
    <link rel="stylesheet" href="/assets/style.css"/>
    <link rel="stylesheet" href="/assets/custom.css"/>

    <!-- FAVICON -->
    <link rel="shortcut icon" type="image/png" href="/images/MGKfav.png">

</head>
<body>

  <header class="grid">
    <div class="col-2-middle">
      <a href="/">
        <img class="center" width="80%" src="/images/MGKfav.png"  alt="Ms. Gloria's Kitchen" />
      </a>
    </div>
    <nav class="col-7-middle center centered">
      <span class="dropdown-nav">
      <a href="food" class="padded-2"> Food </a>
      <div class="dropdown-content">
          <a href="food#catering"><i class="fas fa-utensil-spoon spoon"></i> Catering</a>
          <a href="food#mealprep"><i class="fas fa-utensil-spoon spoon"></i> Meal Prep</a>
          <a href="food#juice"><i class="fas fa-utensil-spoon spoon"></i> Juice</a>
      </div>
    </span>
    <span class="dropdown-nav">
      <a href="about" class="padded-2"> About </a>
      <div class="dropdown-content">
          <a href="about">Kitchen</a>
          <a href="https://missgloriasgarden.com/" target="_blank">Garden</a>
      </div>
      <a href="events" class="padded-2"> Events </a>
    </nav>

    <nav class="col-2-middle centered inline socials">
      <a href="connect" class="button-solid"> Connect </a>
    </nav>
</header>

    {{content}}

    <!-- adds jQuery library to your site -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>

    <!-- adds Magnific Popups javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>

    <!-- this is your custom javascript/jQuery file -->
<script src="/assets/main.js"></script>

<footer class="grid padded">
<!-- column -->
<div class="col-12_sm-12-middle  centered">
<nav class="inline socials">
  <a href="https://www.instagram.com/msgloriaskitchen/" target="_blank">
    <i class="fab fa-instagram"></i>
  </a>
  <a href="https://www.facebook.com/GlosGarden/" target="_blank">
    <i class="fab fa-facebook-f"></i>
  </a>
  <a href="/" target="_blank">
    <i class="far fa-envelope"></i>
  </a>
</nav>
</div>
</footer>

</body>
</html>
